body{
font-family:Arial;
margin:0;
background:linear-gradient(135deg,#1e1e2f,#2c2c3f);
color:white;
}


.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 20px;
background:rgba(0,0,0,0.4);
backdrop-filter:blur(10px);
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-size:20px;
font-weight:bold;
}

.nav-links a{
color:white;
margin:0 10px;
text-decoration:none;
transition:0.3s;
}

.nav-links a:hover{
color:#00d4ff;
}
.navbar .active{
border-bottom:2px solid #00d4ff;
}

.burger{
display:none;
font-size:22px;
cursor:pointer;
}

@media(max-width:768px){
.nav-links{
display:none;
flex-direction:column;
background:#111;
position:absolute;
top:60px;
right:0;
width:200px;
padding:10px;
}

.nav-links.show{
display:flex;
}

.burger{
display:block;
}
}

header{
text-align:center;
padding:30px;
}

.filters button{
background:linear-gradient(45deg,#00d4ff,#7a5cff,#ff3d77);
background-size:200% 200%;
border:none;
color:white;
padding:10px 20px;
margin:5px;
border-radius:25px;
cursor:pointer;
font-size:15px;
transition:0.4s;
position:relative;
overflow:hidden;
}

.filters button:hover{
background-position:right center;
transform:scale(1.1);
box-shadow:0 0 15px rgba(0,212,255,0.6),
           0 0 30px rgba(122,92,255,0.4);
}

.filters button::before{
content:"";
position:absolute;
top:0;
left:-100%;
width:100%;
height:100%;
background:linear-gradient(120deg,transparent,rgba(255,255,255,0.4),transparent);
transition:0.5s;
}

.filters button:hover::before{
left:100%;
}

.menu-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.card{
background:rgba(255,255,255,0.05);
border-radius:15px;
backdrop-filter:blur(10px);
text-align:center;
transition:0.4s;
padding-bottom:10px;
}

.card:hover{
transform:translateY(-10px);
}

.card img{
width:100%;
height:160px;
object-fit:cover;
border-radius:15px 15px 0 0;
}

.price{
color:#00d4ff;
font-weight:bold;
}

.order{
background:linear-gradient(45deg,#ff7a18,#ff3d77);
border:none;
color:white;
padding:10px 20px;
border-radius:25px;
cursor:pointer;
transition:0.3s;
}

.order:hover{
transform:scale(1.1);
}

.card.hide{
opacity:0;
transform:scale(0.8);
pointer-events:none;
}

.filters button:active{
transform:scale(0.95);
}


